[{{ item }}]
user = {{ item }}
group = {{ item }}
listen = /run/php-fpm-{{ item }}.sock
listen.owner = nginx
listen.group = nginx
listen.mode=0660

pm = dynamic
pm.max_children = 4
pm.start_servers = 2
pm.min_spare_servers = 2
pm.max_spare_servers = 2
pm.max_requests = 512
php_admin_value[memory_limit] = {{ webserver_php_memory_limit }}
php_admin_value[post_max_size] = {{ webserver_php_post_max_size }}
php_admin_value[upload_max_filesize] = {{ webserver_php_max_file_size }}
php_admin_value[error_log] = /home/{{ item }}/log/php-fpm/error.log
rlimit_files = 131072
security.limit_extensions = .php
